
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.header {
  background-image: url("Picture/banner4.jpg");
  background-color: linear-gradien #04091e;
  background-color: #04091e;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


nav {
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
}

.option {
  flex: 1;
  text-align: right;
  overflow: hidden;
}
.option ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 15px;
  position: relative;
}
.option ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  float: left;
  display: block;
  border-bottom: 3px solid transparent;
}
.option a:hover {
  border-bottom: 3px solid red;
}

.option a.active {
  border-bottom: 3px solid red;
}

